#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
body {
  width: 100%;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217, 217, 227, 0.8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

:-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
/* .searchbar :focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
} */
